
<br>
<div style="text-align:left; background-color: LightGray; color: black; padding: 0.5rem;">

<span style="font-size: 0.75rem;">

<b>Disclaimer:</b> The bulk of my work is covered under Non-Disclosure Agreements (NDA). The links given here are only for represenattional purposes. If there are any direct samples, these relate to works earlier published but now unpublished, or of works never published. Contact me for further details. If you would like to report a concern with anything published on this site, use the form <a href="https://antleo.com/charlie/Contact">on this page</a> to reach out to me.

</span>
</div>