<div class="topnav" id="myTopnav">
  <a href="./" class="active">Home</a>  
  <a href="./m_About">About</a>
  <a href="./m_Services">Services</a>
  <a href="./m_Testimonials">Testimonials</a>
  <div class="dropdown">
    <button class="dropbtn">Samples 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="./p_Koine_Resources_Books">Business</a>
      <a href="./p_Koine_Resources_Software">Creative</a>
    </div>
  </div> 
  <a href="./m_Contact">Contact</a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
